[Unit]
Description=Reboot after Edge Installer
After=edge-installer.service
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
ConditionPathExists=/run/edge-installer-reboot

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block reboot
StandardOutput=kmsg+console
StandardError=kmsg+console
