[Unit]
Description=Grow root filesystem
DefaultDependencies=false

After=coreos-installer.service
Before=coreos-installer-reboot.service
Requires=dev-disk-by\x2dlabel-root.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/coreos-installer-growfs
RemainAfterExit=yes