[Unit]
Description=Grow root filesystem
DefaultDependencies=false

After=coreos-installer.service
Before=coreos-installer-poweroff.service

Requires=dev-disk-by\x2dlabel-root.device
ConditionKernelCommandLine=coreos.inst.install_dev

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-installer-growfs
RemainAfterExit=yes
