[Unit]
Description=Give Login Shell After Edge Installer
Requires=edge-installer.service
After=edge-installer.service
ConditionPathExists=!/run/edge-installer-reboot

[Service]
Type=oneshot
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
ExecStartPre=/usr/bin/echo -e "\nEdge install complete. Starting login shell\n"
ExecStart=/usr/sbin/sulogin --force
ExecStartPost=/usr/bin/systemctl --no-block reboot
